/* MODAL FORM  */
.close-btn {
    position: absolute;
    left: 91%;
    top: -6%;
    font-size: 25px;
    color: #6c757d;
    background: none;
}

.close-btn:hover {
    color: darkred;
}

.modal {
    position: fixed;
    display: none;
    justify-content: center;
    perspective: 500px; /*additionally*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
}

.modal .modal-wrapper {
    border-radius: 2px;
    width: 50%;
    max-width: 550px;
    top: 8%;
    background: white;
    position: absolute;
    text-align: left;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
    transform: rotateX(0deg); /*additionally*/
    animation-name: modal; /*additionally*/
    animation-duration: 1s; /*additionally*/
}

.modal-header, .modal-body, .modal-footer {
    padding: 5px 15px;
}

@keyframes modal { /*additionally*/
    from {
        opacity: 0;
        top: 5%;
        transform: rotateX(15deg);
    }
    to {
        opacity: 1;
        top: 8%;
        transform: rotateX(0deg);
    }
}

/* END MODAL FORM */

.card-body div:hover {
    transition: 0.2s;
    background-color: #F7F7F7;
}

#submit-edit-proj {
    display: none;
}

.card {
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .task-submit {
        width: 100px;
    }

    .form-group {
        padding: 10px;
    }

    .task-row {
        margin: 10px;
    }
    .task-row-tmp {
        margin: 10px;
    }
}

.close-task-btn {
    position: absolute;
    font-size: 25px;
    left: 91%;
    top: -6%;
    background: none;
}

.close-task-btn:hover {
    color: darkred;
}

.task-modal {
    position: fixed;
    display: none;
    justify-content: center;
    z-index: 1;
    perspective: 500px; /*additionally*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
}

.task-modal .modal-wrapper {
    border-radius: 2px;
    width: 50%;
    max-width: 550px;
    top: 8%;
    background: white;
    position: absolute;
    text-align: left;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
    transform: rotateX(0deg); /*additionally*/
    animation-name: modal; /*additionally*/
    animation-duration: 1s; /*additionally*/
}

@keyframes task-modal { /*additionally*/
    from {
        opacity: 0;
        top: 5%;
        transform: rotateX(15deg);
    }
    to {
        opacity: 1;
        top: 8%;
        transform: rotateX(0deg);
    }
}

.complete {
    text-decoration: line-through;
    color: grey;
}

@media (max-width: 768px) {
    .task-submit {
        margin-right: .5rem!important;
        margin-top: 15px;
        display: block;
        height: calc(2.19rem + 2px);
        padding: .375rem .75rem;
        font-size: .9rem;
        line-height: 1.6;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }
}
