@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n833mt');
  src:  url('../fonts/icomoon.eot?n833mt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n833mt') format('truetype'),
    url('../fonts/icomoon.woff?n833mt') format('woff'),
    url('../fonts/icomoon.svg?n833mt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e905";
  font-size: 18px;
}
.icon-edit:hover {
  cursor: pointer;
  color: #216ec8;
  transition: 0.2s;
}
.icon-delete:hover {
  cursor: pointer;
  color: #216ec8;
  transition: 0.2s;
}
.icon-up:hover {
  cursor: pointer;
  color: #216ec8;
  transition: 0.2s;
}
.icon-down:hover {
  cursor: pointer;
  color: #216ec8;
  transition: 0.2s;
}
.icon-delete:before {
  content: "\e9ad";
  font-size: 18px;
}
.icon-up:before {
  content: "\ea41";
  font-size: 18px;
}
.icon-down:before {
  content: "\ea43";
  font-size: 18px;
}
